<!DOCTYPE html>
<html>
  <head>
    <title>AdrienPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="nav-bar-wrapper">
      <div class="nav-bar">
        <%= link_to root_path do %>
          <h4>ADRIEN</h4>
        <% end %>
        <div class="nav-link">
          <%= link_to 'A propos', me_path  %>
          <%= link_to 'Mes services', service_path  %>
          <%= link_to 'Mes réalisations', projects_path %>
          <%= link_to 'Me contacter', contact_path %>
        </div>
        <div class="social-link">
          <a href="tel:0679093818"><i class="fas fa-phone"></i></a>
          <a href="mailto:adrien-barbier@hotmail.fr"><i class="fas fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/adrien-barbier-5b479598/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>

      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %>">
          <%= message %>
        </div>
      <% end %>


      <%= yield %>



  </body>
</html>
